.footer{
	position: fixed;
	bottom: 0;
	color:#aaa;
	text-shadow: 1px 1px #000;
	background:#fff;
	text-align: center;
}
.footer p {
	position: sticky;
	bottom: 0;
	text-align: center;
	width: 360px;
	margin: auto;
	border-top:2px solid #FFAA00;
	padding:10px;
	border-radius: 10px;
}