@import url('font.css');
.App {
	margin:auto;
	font-family: "Audiowide Regular",sans-serif;

}

body{
	
background-image: radial-gradient(#eee 3px, transparent 4px), 
radial-gradient(#eee 3px, transparent 4px), 
linear-gradient(rgb(255, 255, 255) 4px, transparent 0px), 
linear-gradient(45deg, transparent 74px, transparent 75px, #eee 75px, #eee 76px, transparent 77px, transparent 109px), 
linear-gradient(-45deg, transparent 75px, transparent 76px, #eee 76px, #eee 77px, transparent 78px, transparent 109px), none;
background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px, 109px 109px;
background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 54px 55px;

}
